<a href="https://colab.research.google.com/github/santhoshkumartofficial-commits/AI-First-programming/blob/main/Assessment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Hands-On Coding Tasks

In [ ]:
Write a Python program that prints the data type of the following values using type():

10 3.14 "Hello" True [1, 2, 3] {"name": "John", "age": 20} (10, 20) {1, 2, 2, 3} None

In [ ]:
Task 2: List Operations

Write a Python program to:

Create a list of 5 fruits.

Add a new fruit to the list.

Remove one fruit.

Print the final list.

In [ ]:
Task 3: Dictionary Manipulation

Create a dictionary for a student with:

name age course marks (list of 3 subjects)

Then:

Print the student's name

Add a new key called "grade"

Update marks

Print final dictionary

In [ ]:
Task 4: Convert Data Types

Write code to:

Convert integer 100 → string Convert string "45" → integer Convert list [1, 2, 3] → tuple Convert tuple (4, 5, 6) → list

In [ ]:
Task 5: Set Operations

Create two sets:

A = {1, 2, 3, 4} B = {3, 4, 5, 6}

Perform:

Union

Intersection

Difference (A - B)

Symmetric Difference

In [ ]:
Task 6: Simple Calculator

Write a program that takes two numbers and prints:

Addition

Subtraction

Multiplication

Division

In [ ]:
Task 7: User Input Program

Write a Python program that:

Asks the user for their name and age

Prints: "Hello , you are years old!"

In [ ]:
Task 8: Complex Number Task

Create a complex number z = 3 + 4j and print:

Real part

Imaginary part

In [ ]:
Task 9: Create Functions

Write a function:

def add(a, b): return a + b

Call the function with any two numbers.

In [ ]:
Task 10: Bonus Challenge

Write a program that:

Takes a list: [5, 2, 8, 1, 3]

Sorts it

Prints max and min values

Prints the sum of all values