<a href="https://colab.research.google.com/github/santhoshkumartofficial-commits/AI-First-programming/blob/main/Python_basic_Veriable_and_Data_Types.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# Python veriable

A variable in Python is a name that stores a value.
It works like a container that holds data.

## 1. How to create a variable

Just write a name and assign a value using =.

In [ ]:
x = 10
name = "Santhosh"
price = 99.5

# Rules for variable names

  ‚úî Must start with a letter or underscore

  ‚úî Cannot start with a number

  ‚úî Can contain letters, numbers, underscores
  
  ‚úî Case-sensitive (Age ‚â† age)

In [2]:
#1. Integer
age = 21

#2. Float
height = 5.8

#3. String
city = "Chennai"

#4. Boolean
is_active = True

#5. List
numbers = [1, 2, 3, 4]

#6. Dictionary
person = {"name": "Rahul", "age": 25}

#Change value anytime  Variables can be updated:
x = 10
x = 20   # updated

#print values
name = "Kumar"
print(name)

In [1]:
#Example

_age = 25
myName = "Leo"
total_amount_1 = 500

### **Python organizes data into several fundamental data types (or classes), which determine the kind of value a variable can hold and what operations can be performed on i**t.

# Primitive Data Types (Built-in)

These are the most basic and immutable types that form the foundation of more complex structures.

# Numeric Types
Used to store number values.

# 1. int (Integer)

Whole numbers without decimals.

In [ ]:
a = 10
b = -5

# 2. float (Decimal number)

Numbers with decimals.

In [ ]:
price = 99.99
pi = 3.14

# 3. str (String)

Text values inside quotes.

In [ ]:
name = "Santhosh"
msg = 'Hello Python'

# 4. bool (Boolean)

True or False values.

In [ ]:
is_active = True
passed = False

# 5. list (Ordered, changeable collection)

Allows duplicates; uses [].

In [ ]:
fruits = ["apple", "banana", "orange"]
numbers = [1, 2, 3, 4]

# 6. tuple (Ordered, unchangeable collection)

Uses ().

In [ ]:
colors = ("red", "green", "blue")

# 7. dict (Dictionary ‚Äî key-value pairs)

Uses {}.

In [ ]:
student = {
    "name": "Santhosh",
    "age": 21,
    "mark": 85
}

# 8. set (Unordered, unique items)

Uses {} but without key-value.

In [ ]:
unique_numbers = {1, 2, 3, 3, 4}   # duplicates removed

# üìò Advanced Data Types
# 9. NoneType

Represents no value.

In [ ]:
x = None

# 10. complex (Complex numbers)

Numbers with real + imaginary parts.

In [ ]:
z = 2 + 3j

# ‚úîÔ∏è Output Checking

You can use type() to check the data type:

In [ ]:
print(type(10))          # <class 'int'>
print(type(3.14))        # <class 'float'>
print(type("hello"))     # <class 'str'>

# **Python Data Type Examples**

In [ ]:
# 1. Numeric Types
print("--- 1. NUMERIC TYPES ---")
age = 25                  # int
price = 99.99             # float
complex_num = 1 + 2j      # complex

print(f"age: {age}, Type: {type(age)}")
print(f"price: {price}, Type: {type(price)}")
print(f"complex_num: {complex_num}, Type: {type(complex_num)}")

# 2. Boolean Type
print("\n--- 2. BOOLEAN TYPE ---")
is_active = True          # bool
is_empty = False          # bool

print(f"is_active: {is_active}, Type: {type(is_active)}")

# 3. String Type
print("\n--- 3. STRING TYPE ---")
greeting = "Hello Python"  # str
multi_line_str = '''A long comment
spanning multiple lines.''' # str (used for multi-line text)

print(f"greeting: '{greeting}', Type: {type(greeting)}")
print(f"multi_line_str: '{multi_line_str}', Type: {type(multi_line_str)}")


# 4. Collection/Container Types

## 4a. List (Mutable)
print("\n--- 4a. LIST (MUTABLE) ---")
fruits = ["apple", "banana", "cherry"]  # list

# List is mutable: we can change it
fruits.append("orange")

print(f"fruits: {fruits}, Type: {type(fruits)}")


## 4b. Tuple (Immutable)
print("\n--- 4b. TUPLE (IMMUTABLE) ---")
coordinates = (10.0, 20.0, 30.0) # tuple

# Note: Attempting to modify a tuple (e.g., coordinates.append(40))
# would result in an error (AttributeError).

print(f"coordinates: {coordinates}, Type: {type(coordinates)}")


## 4c. Set (Mutable, Unordered, Unique)
print("\n--- 4c. SET (MUTABLE, UNIQUE) ---")
unique_numbers = {1, 2, 2, 3, 3, 4} # set (duplicates are automatically removed)
unique_numbers.add(5)

print(f"unique_numbers: {unique_numbers}, Type: {type(unique_numbers)}")


## 4d. Dictionary (Mutable Mapping)
print("\n--- 4d. DICTIONARY (MUTABLE MAPPING) ---")
person = {
    "name": "Alex",
    "age": 35,
    "city": "London"
} # dict

# Dictionary is mutable: we can add a new key-value pair
person["occupation"] = "Engineer"

print(f"person: {person}, Type: {type(person)}")


# 5. Special Type
print("\n--- 5. SPECIAL TYPE ---")
result = None   # NoneType

print(f"result: {result}, Type: {type(result)}")

--- 1. NUMERIC TYPES ---
age: 25, Type: <class 'int'>
price: 99.99, Type: <class 'float'>
complex_num: (1+2j), Type: <class 'complex'>

--- 2. BOOLEAN TYPE ---
is_active: True, Type: <class 'bool'>

--- 3. STRING TYPE ---
greeting: 'Hello Python', Type: <class 'str'>
multi_line_str: 'A long comment
spanning multiple lines.', Type: <class 'str'>

--- 4a. LIST (MUTABLE) ---
fruits: ['apple', 'banana', 'cherry', 'orange'], Type: <class 'list'>

--- 4b. TUPLE (IMMUTABLE) ---
coordinates: (10.0, 20.0, 30.0), Type: <class 'tuple'>

--- 4c. SET (MUTABLE, UNIQUE) ---
unique_numbers: {1, 2, 3, 4, 5}, Type: <class 'set'>

--- 4d. DICTIONARY (MUTABLE MAPPING) ---
person: {'name': 'Alex', 'age': 35, 'city': 'London', 'occupation': 'Engineer'}, Type: <class 'dict'>

--- 5. SPECIAL TYPE ---
result: None, Type: <class 'NoneType'>